<div class="wizard-overlay" [ngClass]="{'active': onPopup}" [hidden]="!isActive">
  <div class="wizard" [ngClass]="{'left-side': leftSide}">
    <div class="wizard-header">
      <ul class="nav nav-justified">
        <li class="nav-item wizard-step-link" *ngFor="let step of steps; let i=index;" [ngClass]="{'active': step.isActive, 'disabled': step.isDisabled}" (click)="goToStep(step)">
          <a class="fa {{step.icon}}"></a>
          <p>
            {{step.title}}
            <span class="fa fa-question input-help" id="helper-step-1" *ngIf="step.help">
              <zion-helper [for]="'#helper-step-1'" [helperContent]="step.help" [trigger]="'click'" [position]="'top'"></zion-helper>
            </span>
          </p>
        </li>
      </ul>
    </div>
    <div class="wizard-body">
      <div class="wizard-block">
        <ng-content></ng-content>  
      </div>
      <div class="wizard-footer" [hidden]="isCompleted">
        <button type="button" class="btn btn-secondary back-button float-left" (click)="previous()" [hidden]="!hasPrevStep || !activeStep.showPrev">Back</button>
        <button type="button" class="btn btn-secondary next-button float-right" (click)="next()" [hidden]="!hasNextStep || !activeStep.showNext" [disabled]="activeStep.disableNext">Next</button>
        <button type="button" class="btn btn-secondary next-button float-right" (click)="complete()" [hidden]="hasNextStep">Done</button>
      </div>
    </div>
    <div class="loading-overlay" [ngClass]="{'show': activeStep.showOverlay}">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
</div>