<button class="btn btn-secondary helper-button" id="helper4">
  Right
  <zion-helper [for]="'#helper4'" [helperContent]="'Hello'" [trigger]="'hover'" [position]="'right'"></zion-helper>
</button>

<button class="btn btn-secondary helper-button" id="helper">
  Top
  <zion-helper [for]="'#helper'" [helperContent]="'Hello'" [trigger]="'click'" [position]="'top'"></zion-helper>
</button>

<button class="btn btn-secondary helper-button" id="helper2">
  Left
  <zion-helper [for]="'#helper2'" [helperContent]="'Hello'" [trigger]="'hover'" [position]="'left'"></zion-helper>
</button>

<button class="btn btn-secondary helper-button" id="helper3">
  Bottom
  <zion-helper [for]="'#helper3'" [helperContent]="'Hello'" [trigger]="'click'" [position]="'bottom'"></zion-helper>
</button>

<button class="btn btn-secondary helper-button" id="helper5">
  Top-Right
  <zion-helper [for]="'#helper5'" [helperContent]="'Hello'" [trigger]="'click'" [position]="'top-right'"></zion-helper>
</button>

<button class="btn btn-secondary helper-button" id="helper6">
  Bottom-Right
  <zion-helper [for]="'#helper6'" [helperContent]="'Hello'" [trigger]="'hover'" [position]="'bottom-right'"></zion-helper>
</button>

<button class="btn btn-secondary helper-button" id="helper7">
  Top-Left
  <zion-helper [for]="'#helper7'" [helperContent]="'Hello'" [trigger]="'click'" [position]="'top-left'"></zion-helper>
</button>

<button class="btn btn-secondary helper-button" id="helper8">
  Bottom-Left
  <zion-helper [for]="'#helper8'" [helperContent]="'Hello'" [trigger]="'hover'" [position]="'bottom-left'"></zion-helper>
</button>