$bg-color: #fff;
$active-item-color: #217ae4;

$breadbrumb-height: 45px;
$breadcrumb-padding: 15px;
$breadbrumb-border: 1px solid #ececec;
$breadbrumb-item-color: #9a9a9a;
$breadcrumb-item-active: #227ce8;

$dropdown-border: 1px solid #d4e8ff;
$dropdown-text-color: #333333;

$sidebar-width: 190px;
$sidebar-bg: #f7f7f7;
$sidebar-first-bg: #227ce8;
$sidebar-header-color: #262626;
$sidebar-text-color: #666666;
$sidebar-text-opacity: 0.85;
$sidebar-border: 1px solid #ececec;
$hr-color: #227ce8;
$active-color: #227ce8;

$two-level-sidebar-width: 255px;
$small-sidebar-width: 65px;
$subsidebar-width: 190px;

$header-height: 55px;
$header-border: 1px solid #f1f1f1;
$transition-time: 0.3s;

