@import './src/assets/styles/variables';

.zion-header {
  min-height: $header-height;
  padding: 0 35px 0 10px;
  // background-color: #494949;

  .navbar-brand {
    width: 57px;
    margin-left: -10px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    height: 55px;
    line-height: 55px;
  }

  .header-admin-nav {
    line-height: 1em;
  }

  .custom-arrow::after {
    display: none;
  }

  .notifications {
    position: relative;
    margin-right: 50px;

    .notification-icon {
      font-size: 16px;
      color: #fff;
    }

    .notification-number {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      // color: #fff;
      // background: #4db220;
      // border: 1px solid transparent;
      font-size: 9px;
      text-align: center;
      line-height: 16px;
      left: 50%;
      top: 2px;
    }
  }

  .user {
    margin-right: 25px;
    .user-image {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #fff;
      overflow: hidden;
      margin-right: 20px;

      img {
        // width: 100%;
        width: 45%;
        margin: 0 auto;
        margin-top: 5px;
        display: block;
      }
    }

    .user-name {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      
      i {
        font-size: 15px;
        margin-left: 5px;
        font-weight: 500;
      }
    } 
  }

  .help {
    font-size: 20px;
    color: #fff;
  }
}

.popup-link {
  position: relative;
  margin-right: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #fff;

  &.active:before {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    top: 125%;
  }
}

